.Rproj.user
.Rhistory
.RData
/man/*.Rd
example*
figure*
/inst/scianimator/*.html
!/inst/scianimator/index*
/inst/scianimator/assets/*/*
!/inst/scianimator/assets/js/index.js
/inst/plot2tikz/*
!inst/plot2tikz/*.R
/inst/bratteli/*
!inst/bratteli/*.R